#header {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 100;

    &.headerWhite {
        background-color: whitesmoke;
    }

    .boxLeft {
        width: 10%;
        margin-left: 35px;
    }

    .boxRight {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .menu {
            padding: 6px;
            margin-right: 20px;

            ul {
                li {
                    position: relative;

                    a {
                        text-decoration: none;
                        margin-left: 25px;
                        color: #505489;
                        display: block;
                        overflow: hidden;
                        font-weight: bold;

                        &:hover {
                            span {
                                &:nth-child(1) {
                                    top: -25px;
                                }

                                &:nth-child(2) {
                                    top: 0;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }

                        span {
                            transition: 0.2s ease-out;

                            &:nth-child(1) {
                                position: relative;
                                top: 0;
                                left: 0;
                            }

                            &:nth-child(2) {
                                position: absolute;
                                top: 30px;
                                left: 25px;
                                visibility: hidden;
                                opacity: 0;
                            }
                        }
                    }

                    // pagesMenu start 
                    &.pagesMenu {
                        position: relative;

                        ul {
                            width: 180px;
                            position: absolute;
                            background-color: white;
                            top: 130%;
                            left: 0px;
                            text-align: left;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;

                            li {
                                a {
                                    display: block;
                                    padding: 6px 0;
                                    font-weight: 500;

                                }
                            }
                        }

                        &:hover {

                            ul {
                                visibility: visible;
                                opacity: 1;
                            }
                        }


                    }

                    // pagesMenu end 
                    // servicesMenu start 
                    &.servicesMenu {
                        position: relative;

                        ul {
                            width: 180px;
                            position: absolute;
                            background-color: white;
                            top: 130%;
                            left: 0px;
                            text-align: left;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;

                            li {
                                a {
                                    display: block;
                                    padding: 6px 0;
                                    font-weight: 500;

                                }
                            }
                        }

                        &:hover {

                            ul {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    // servicesMenu end 

                    // blogMenu start 

                    &.blogMenu {
                        position: relative;

                        ul {
                            width: 190px;
                            position: absolute;
                            background-color: white;
                            top: 130%;
                            left: 0px;
                            text-align: left;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;

                            li {
                                a {
                                    display: block;
                                    padding: 6px 0;
                                    font-weight: 500;

                                }
                            }
                        }

                        &:hover {

                            ul {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    // blogMenu end 
                }
            }
        }

        .quote {
            a {
                text-decoration: none;
                color: #896eff;
                position: relative;

                i {
                    color: white;
                    margin-right: 5px;
                    padding: 10px 15px;
                    border-radius: 20px;
                    background-color: #896eff;
                }

            }
        }
    }
}

// header end 
//  section create start 

.create {
    padding-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    background-image: url(https://samartheme1.vercel.app/images/main-slider/slider1/pic2.png);

    .boxText {
        margin: 4rem;
        padding-top: 4rem;
        background-image: url(https://samartheme1.vercel.app/images/main-slider/slider1/pic3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h6 {
            padding-top: 30px;
            color: #896eff;
            font-size: 18PX;
            font-weight: 600;
            margin-bottom: 15px;
        }

        h1 {
            font-weight: 800;
            color: #1f2471;
            font-size: 3.5rem;

            span {
                color: #896eff;
            }
        }

        p {
            margin: 20px 0;
            color: #505489;
            font-size: 16px;
            font-weight: 400;
        }

        .more {
            margin-top: 30px;

            a {
                text-decoration: none;
                color: #896eff;
                position: relative;
                font-size: 17px;

                i {
                    color: white;
                    margin-right: 5px;
                    padding: 10px 15px;
                    border-radius: 20px;
                    background-color: #896eff;
                }

            }
        }




    }

    .boxImg {
        margin-top: 4rem;
        position: relative;

        img {
            &.moveFirst {
                animation: MoveFirst 6s infinite;
            }

            &.moveSecond {
                animation: MoveSecond 4s infinite;
                position: absolute;
                top: 0%;
                right: 0%;
            }

            @keyframes MoveSecond {
                0% {
                    right: 0;
                    bottom: 2%;
                    transform: rotate(2deg);

                }

                50% {
                    right: -10%;
                    transform: rotate(5deg);

                }

                50%,
                75% {
                    // right: -10%;
                    transform: rotate(-2deg);

                }

                75%,
                100% {
                    transform: rotate(2deg);


                }
            }

            //   ---- 
            @keyframes MoveFirst {
                0% {
                    right: 0;
                    bottom: 3%;
                    transform: rotate(2deg);

                }

                50% {
                    right: -10%;
                    transform: rotate(5deg);

                }

                50%,
                75% {
                    // right: -10%;
                    transform: rotate(-2deg);

                }

                75%,
                100% {
                    transform: rotate(2deg);


                }
            }
        }

    }

}
// create end 
// counting start 
.counting{
    background-color: #896eff;
    background-image: url(https://samartheme1.vercel.app/images/background/bg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem;
    margin: 20px 0;
    span{
        color: #896eff;
        font-size: 2rem;
        font-weight: bold;
    }
    .boxOne{
        width: 100%;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 30px ;
        margin-top: 10px;
        transition: 0.5s ease-in-out;
        transform: translateY(0px);
        &:hover{
            transform: translateY(-20px);
        }
        i{
            font-size: 2rem;
            border-radius: 35px;
            padding: 13px;
            background-color: #029e76;
            color: white;
            margin-bottom: 20px;
           
        }

    }
    .boxTwo{
        text-align: center;
        border-radius: 10px;
        padding: 30px  ;
        margin-top: 35px;
        background-color: whitesmoke;
        transition: 0.5s ease-in-out;
        transform: translateY(0px);

        &:hover{
            transform: translateY(-20px);
        }
        i{
            font-size: 2rem;
            border-radius: 35px;
            padding: 13px;
            background-color: #ffa808;
            color: white;
            margin-bottom: 20px;
        }

    }
    .boxThird{
        text-align: center;
        border-radius: 10px;
        padding: 30px ;
        background-color: whitesmoke;
        transition: 0.5s ease-in-out;
        transform: translateY(0px);
        &:hover{
            transform: translateY(-20px);
        }
        i{
            font-size: 2rem;
            border-radius: 35px;
            padding: 13px;
            background-color: #5543d1;
            color: white;
            margin-bottom: 20px;
           
        }

    }
    .boxFourth{
        text-align: center;
        margin-top: 45px;
        border-radius: 10px;
        padding: 30px  ;
        background-color: whitesmoke;
        transition: 0.5s ease-in-out;
        transform: translateY(0px);
        &:hover{
            transform: translateY(-20px);
        }
        i{
            font-size: 2rem;
            border-radius: 35px;
            padding: 13px;
            background-color:#ff586e;
            color: white;
            margin-bottom: 20px;
           
        }

    }
}